<h1>Your lucky number is {{ number }}</h1>
<html>
<head>
<title>Gary Querlioz - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{{ asset('style.css') }}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{{ asset ('image/download.png') }}" alt="GAry Querlioz" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Gary Querlioz</h1>
			<h2 class="quickFade delayThree">Etudiant en DUT MMI {{number}}</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><a href="mailto:gary.querlioz@hotmail.fr" target="_blank">gary.querlioz@hotmail.fr</a></li>
				<li><a href="https://querlioz38.wixsite.com/gary-querlioz">https://querlioz38.wixsite.com/gary-querlioz</a></li>
				<li>+33785537519</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Description personnelle</h1>
				</div>
				
				<div class="sectionContent">
					<p>Attiré par le domaine de la communication, j'ai un intérêt particulier pour le visuel. C'est pourquoi j'ai choisi la formation Métiers du Multimédia et de l'Internet qui me permet de m'exprimer dans ces domaines. En plus de cela, elle me fournit un apport théorique dans des disciplines comme la communication, le droit ou le marketing, tout en m'ouvrant une porte vers des savoirs plus techniques tels que le développement web ou encore l'algorithmique. Je suis actuellement à la recherche d'un stage de dix semaines, dans le domaine de la communication, pour clôturer mon cursus et me permettre d'avancer dans mon projet universitaire et  professionnel.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Expérience professionnelle</h1>
			</div>
			<div class="sectionContent">
				<div class="sectionContent">
				{% for experience in experiences %}
					<article>
						<h2>{{ experience.getName() }}</h2>
						<p class="subDetails">{{experience.getannees}}</p>
						<p></p>
						<p class="subDetails">{{ experience.getdescription() }}</p>
						
					</article>
				{% endfor %}
			</div>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Mes loisirs</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>A Key Skill</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Formation</h1>
			</div>
			<div class="sectionContent">
				{% for formation in formations %}
					<article>
						<ul>
							<li>
								<h2>{{ formation.getName() }}</h2>
								<p class="subDetails">{{formation.getannees}}</p>
								<p>{{formation.getdescription}}</p>
							</li>	
						</ul>
					</article>
				{% endfor %}
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>