
<html>
<head>
<title>Gary Querlioz - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{{ asset('style.css') }}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{{ asset ('image/download.png') }}" alt="Gary Querlioz" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Gary Querlioz</h1>
			<h2 class="quickFade delayThree">Etudiant en DUT MMI {{number}}</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><a href="mailto:gary.querlioz@hotmail.fr" target="_blank">gary.querlioz@hotmail.fr</a></li>
				<li><a href="https://querlioz38.wixsite.com/gary-querlioz">https://querlioz38.wixsite.com/gary-querlioz</a></li>
				<li>+33785537519</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Description personnelle</h1>
				</div>
			
				<div class="sectionContent">
					<div class="sectionContent">
						<p class="subDetails">Attiré par le domaine de la communication, j'ai un intérêt particulier pour le visuel. C'est pourquoi j'ai choisi la formation Métiers du Multimédia et de l'Internet qui me permet de m'exprimer dans ces domaines. En plus de cela, elle me fournit un apport théorique dans des disciplines comme la communication, le droit ou le marketing, tout en m'ouvrant une porte vers des savoirs plus techniques tels que le développement web ou encore l'algorithmique. Je suis actuellement à la recherche d'un stage de dix semaines, dans le domaine de la communication, pour clôturer mon cursus et me permettre d'avancer dans mon projet universitaire et  professionnel.</p>
					</div>
				</div>	
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Expérience professionnelle</h1>
			</div>
			<div class="sectionContent">
				<div class="sectionContent">
				{% for experience in experiences %}
					<article>
						<ul>
							<li>	
								<h2>{{ experience.getName() }}</h2>
								<p class="subDetails">{{experience.getannees}}</p>
								<p class="subDetails">{{ experience.getdescription() }}</p>
							</li>	
						</ul>	
							<button type="submit" id="submit" name="submit" class="form-btn semibold"><a href="{{ path('experience_edit', {'id': experience.getId ()}) }}">Modifier l'expérience</a></button>
							<button type="submit" id="submit" name="submit" class="form-btn-suppr"><a href="{{ path('experience_delete', {'id': experience.getId ()}) }}">Supprimer l'expérience</a></button>
						
					</article>
				{% endfor %}
				<button><a href="{{ path('experience_new') }}">Nouvelle expérience</a></button>
			</div>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Formation</h1>
			</div>
			<div class="sectionContent">
				<div class="sectionContent">
					{% for formation in formations %}
						<article>
							<ul>
								<li>
									<h2>{{ formation.getName() }}</h2>
									<p class="subDetails">{{formation.getannees}}</p>
									<p class="subDetails">{{formation.getdescription}}</p>
								</li>	
							</ul>
								<button type="submit" id="submit" name="submit" class="form-btn semibold"><a class="liens" href="{{ path('formation_edit', {'id': formation.getId ()}) }}">Modifier la formation</a></button>
								<button type="submit" id="submit" name="submit" class="form-btn-suppr"><a class="liens" href="{{ path('formation_delete', {'id': formation.getId ()}) }}">Supprimer la formation</a></button>
						</article>
					{% endfor %}
					<button>Nouvelle formation</a></button>
				</div>	
			</div>
			<div class="clear"></div>
		</section>
				
			
				<section>
			<div class="sectionTitle">
				<h1>Mes loisirs</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Musique</li>
					<li>Sport</li>
					<li>Démineur</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
	<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"></head>
<br />
		<section>	
			<div class="inner contact">
                <!-- Form Area -->
                <div class="contact-form">
                    <!-- Form -->
                    <form id="contact-us" method="post" action="#">
                        <!-- Left Inputs -->
                        <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                            <!-- Name -->
                            <input type="text" name="name" id="name" required="required" class="form" placeholder="Name" />
                            <!-- Email -->
                            <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" />
                            <!-- Subject -->
                            <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Subject" />
                        </div><!-- End Left Inputs -->
                        <!-- Right Inputs -->
                        <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                            <!-- Message -->
                            <textarea name="message" id="message" class="form textarea"  placeholder="Message"></textarea>
                        </div><!-- End Right Inputs -->
                        <!-- Bottom Submit -->
                        <div class="relative fullwidth col-xs-12">
                            <!-- Send Button -->
                            <button type="submit" id="submit" name="submit" class="form-btn semibold">Send Message</button> 
                        </div><!-- End Bottom Submit -->
                        <!-- Clear -->
                        <div class="clear"></div>
                    </form>

                    <!-- Your Mail Message -->
                    <div class="mail-message-area">
                        <!-- Message -->
                        <div class="alert gray-bg mail-message not-visible-message">
                            <strong>Merci !</strong> Votre email a bien été envoyé.
                        </div>
                    </div>

                </div><!-- End Contact Form Area -->
            </div><!-- End Inner -->

		</section>

		
	</div>
</div>



<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>